<p>titulos works!</p>
<strong>{{nombre}}</strong>
<p>titulos works!</p>
<strong>{{apellido}}</strong>
<p>titulos works!</p>
<strong>{{alumno.apellido}}</strong>
<p>titulos works!</p>
<img [src]="imagen" alt="" (mouseenter)='tam1($event)' (mouseleave)='tam2($event)'>
<p>titulos works!</p>
<input type="text" [(ngModel)]="newtexto">
<p>{{newtexto}}</p>
<p>Correo</p>
<input type="email" [(ngModel)]="correo">
<p>Contraseña</p>
<input type="password" [(ngModel)]="pass" (keydown)='validKey($event)'>
<button (click)='send()'>Enviar</button>
<button (dblclick)='senddoble()'>Doble</button>
<p>titulos works!</p>
<strong>{{nombre}}</strong>
<p>titulos works!</p>
<strong>{{nombre}}</strong>
<p>titulos works!</p>
<strong>{{nombre}}</strong>
<p>titulos works!</p>
<strong>{{nombre}}</strong>
<p>titulos works!</p>
<strong>{{nombre}}</strong>